PORT=8081
GOOGLE_CLOUD_PROJECT=demo-mytime
FIRESTORE_EMULATOR_HOST=localhost:8080
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
ALLOWED_EMAIL_DOMAINS=it-dc.cz,it-dc.sk
JIRA_BASE_URL=
JIRA_EMAIL=
JIRA_API_TOKEN=
ACTIVITY_TIMELINE_BASE_URL=
ACTIVITY_TIMELINE_AUTH_TOKEN=
ACTIVITY_TIMELINE_CZ_TEAM_IDS=
ACTIVITY_TIMELINE_SK_TEAM_IDS=
USE_MOCK_DATA=true
